.container {
  width: 40vh;
  height: 40vh;
  max-height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lettersBlock {
  position: relative;
  width: 17.5rem;
  height:17.5rem;
  border: 1.5rem solid #3e4a68;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  position: absolute;
  top: 60%;
  left: 60%;
  transform: translate(-55%, -55%);
  width: 0;
  height: 0;
}

.letter,
.hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  border-bottom: #a6a8ab 6px solid;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 3.56rem;
  text-align: center;
  color: #58595b;
  cursor: pointer;
  text-transform: capitalize;
}

.hovered {
  background-color: #e96fa4;
  border-bottom: #af638c 6px solid;
  color: white;
  pointer-events: none;
}



.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  opacity: 0.8;
}

@media screen and (max-width: 612px) {
  .container{
    width: 18rem;
    height: 18rem;
  }

  .lettersBlock{
    width: 16rem;
    height: 16rem;
  }
  .center{
    top: 60%;
    left: 60%;
  }
  .letter,
  .hovered {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 2.56rem;
  }
}
