.container {
  width: 45svh;
  height: 45svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1.1rem;
  margin-top: -2rem;
}

.lettersBlock {
  position: relative;
  width: 15rem;
  height:15rem;
  border: 1.5rem solid #3e4a68;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

.letter,
.hovered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
  border-bottom: #a6a8ab 6px solid;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: #58595b;
  cursor: pointer;
  text-transform: capitalize;

}

.hovered {
  background-color: #e96fa4;
  border-bottom: #af638c 6px solid;
  color: white;
  
}




@media screen and (max-width: 612px) {
  .container{
    width: 18rem;
    height: 18rem;
  }

  .lettersBlock{
    width: 11.5rem;
    height: 11.5rem;
  }
  .letter,
  .hovered {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }
}
