.enterContainer {
  width: auto;
  height: 2.8rem;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.enterLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 0.5rem;
  background-color: white;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.88rem;
  text-align: center;
  color: #4d4d4d;
  text-transform: capitalize;
}


@media screen and (max-width: 612px) {
 .enterLetter{
  width: 2rem;
  height: 2rem;
 }

}
