.mainContainer {
  width: 100svw;
  max-width: 40rem;
  height: 100svh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  position: fixed;
  background-color:  #2b344b;;

  > div {
    h1 {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 1.88rem;
      line-height: 117%;
      text-align: center;
      color: #fff;
    }
  }

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}




