.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3.5rem;
  width: 40rem;
  height: 71rem;
  margin: 3rem auto;
  border: 2px white solid;
  padding: 1.6875rem;
  padding-bottom: 5.1rem;

  h1{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.88rem;
    line-height: 117%;
    text-align: center;
    color: #fff;
  }
}