.lettersBlock{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.375rem;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.word{
    display: flex;
    gap: 0.375rem;
}

.emptyLetter{
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 1.25rem;
    background-color: #F2F2F2;
}