.wordsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.375rem;
  width: 96%;
  height: 45%;
  margin: 0 auto;
  overflow-y: auto;
  z-index: 5;
}

.wordsBlock::-webkit-scrollbar {
  display: none;
}

.word,
.rightWord {
  display: flex;
  gap: 0.32rem;
}


.emptyLetter, .rightLetter {
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
  background-color: #f2f2f2;
  color: #f2f2f2;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  text-transform: capitalize;
  padding-top: 0.2rem;
}

.rightLetter{
  background-color: #65bd65;
  transform: scale(1);
  animation: pulse 2s ease-in-out ;
}


@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@media screen and (max-width: 612px) {
  .wordsBlock{
    max-height: 45%;
  }
  .emptyLetter, .rightLetter {
    width: 3rem;
    height: 3rem;
    border-radius: 0.8rem;
    font-size: 2rem;
  }

}
